body { background: #10d4b4; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 34px; display: flex; }
.block-payment-0 { color: #f8e2ee; font-size: 21px; margin-bottom: 5px; }
.block-search-1 { color: #bed58c; font-size: 13px; margin-bottom: 5px; }
.block-uploader-2 { color: #2b40a1; font-size: 12px; margin-bottom: 5px; }
.block-metrics-3 { color: #190d0b; font-size: 19px; margin-bottom: 5px; }
.block-payment-4 { color: #971ee7; font-size: 20px; margin-bottom: 5px; }
.block-email-5 { color: #fbaeda; font-size: 13px; margin-bottom: 5px; }
.block-cluster-6 { color: #e5da67; font-size: 20px; margin-bottom: 5px; }